---
title: "Licenses"
layout: imprint
---
## Fonts
- IBM Plex Mono; [SIL Open Font License 1.1](https://github.com/IBM/plex/blob/master/LICENSE.txt)
- Fira Code; [SIL Open Font License 1.1](https://github.com/tonsky/FiraCode/blob/master/LICENSE)